In [1]:
import requests
import csv
import json
import pandas as pd
import numpy as np
from tqdm import tqdm
%matplotlib inline

# Getting kitties prices

In [4]:
import time
res=[]
i=0
for off in tqdm(range(0,164990,100)):
    time.sleep(2)
    base_url = 'https://kittysales.herokuapp.com/data?offset=%d&count=100&sortBy=timestamp&direction=desc' % (off)
    response = requests.get(base_url)
    results = response.json()
    res.append(results)
    i+=1

100%|████████████████████████████████████████████████████████████████████████████| 1650/1650 [1:49:27<00:00,  3.98s/it]

In [5]:
i

1650

In [6]:
#первый блок первая транзакция
res[0]['sales'][0]

{'__v': 0,
 '_id': '5a32bee77a460f00147e9294',
 'blockNumber': 4732497,
 'blocktimeStamp': 1513275041,
 'id': 'log_acc272f5',
 'returnValues': {'0': 310050,
  '1': 82293981481481490,
  '2': 8.11762870673879e+47},
 'soldPrice': 56.130667418981496}

In [7]:
#нужные колонки
cat_id = res[0]['sales'][0]['returnValues']['0'] 
soldPriceUSD = res[0]['sales'][0]['soldPrice']
timeStamp = res[1427]['sales'][99]['blocktimeStamp']

### Write necessary columns to file

In [8]:
f = csv.writer(open("cat_price160k.csv", "w"))
# header
f.writerow(["cat_id", "soldPrice", "timeStamp"])

for i in range(1650):
    for j in range(100):
        f.writerow([res[i]['sales'][j]['returnValues']['0'],
              res[i]['sales'][j]['soldPrice'],
              res[i]['sales'][j]['blocktimeStamp']])

In [9]:
price_df = pd.read_csv('cat_price160k.csv')

In [10]:
price_df.shape

(164888, 3)

In [11]:
price_df[price_df['cat_id']==1189]

        cat_id    soldPrice   timeStamp
98442     1189  1088.722500  1512682483
117711    1189    44.993954  1512542820
117715    1189    44.994058  1512542818

### Check for dublicates

In [12]:
pd.concat(g for _, g in price_df.groupby("cat_id") if len(g) > 1)

        cat_id      soldPrice   timeStamp
144907       2   70166.100000  1512350196
158796       2   23118.331932  1512192871
113003       4  107816.488000  1512589317
146451       4   22837.184343  1512339029
126135       5  101600.520000  1512492301
146645       5   22608.334382  1512337186
136264       7   87677.342710  1512416747
146732       7   22608.958293  1512336526
143137       9   40293.315375  1512363328
145482       9   22916.050943  1512346478
143152      11   34965.818185  1512363216
159472      11    4621.192275  1512171958
111848      14   67202.265000  1512597598
144697      14   11694.350000  1512351659
155238      14    4572.369071  1512264135
84082       16   38094.676950  1512761665
150467      16    9256.868626  1512310456
154939      16    4570.270590  1512266655
108929      18  110707.158036  1512617298
119970      18   69300.154000  1512527864
153506      18    4605.181682  1512280431
120056      19   69300.154000  1512526783
152738      19    4652.640879  1512287494
38952       20   49613.263037  1512994643
154790      20    4569.982578  1512268267
90087       21  104404.351719  1512725463
152940      21    4652.951251  1512285789
90060       22   98899.875000  1512725676
135976      22   32833.201046  1512418900
152663      22    4644.432647  1512288168
...        ...            ...         ...
2896    305475     299.165600  1513247031
3253    305475     176.611968  1513243546
2077    305509      53.735857  1513255736
3118    305509      37.421747  1513244674
2273    305510      13.167805  1513253661
2274    305510      13.167928  1513253661
3296    305541      11.825743  1513243316
3301    305541      11.825743  1513243316
1338    306185      25.756393  1513262180
1340    306185      25.729425  1513262119
639     307059      64.283800  1513268801
1092    307059      72.644967  1513264071
704     307252      17.687985  1513268230
706     307252      17.746646  1513268196
2324    307685      17.826742  1513253282
2325    307685      17.826742  1513253282
1727    308737      37.977615  1513258975
1948    308737       7.100060  1513256927
1510    309330      69.350361  1513260880
1652    309330      14.066452  1513259659
1383    309560     108.259842  1513261810
1458    309560      76.288520  1513261246
1359    309712      13.587675  1513262045
1362    309712      13.587990  1513262045
971     310482      25.893357  1513264958
972     310482      25.893882  1513264958
939     310491      21.938464  1513265238
940     310491      21.938434  1513265238
400     311521      29.822678  1513271221
402     311521      29.939701  1513271205

[60289 rows x 3 columns]

### Leave only last price

In [13]:
clear_price=price_df.sort_values('timeStamp').drop_duplicates(subset='cat_id', keep='last')

In [14]:
#check
clear_price[clear_price['cat_id']==2]

        cat_id  soldPrice   timeStamp
144907       2    70166.1  1512350196

In [15]:
clear_price.shape

(131503, 3)

In [16]:
#save to csv
clear_price.to_csv('clear_price160k.csv')

# NEXT prices

In [2]:
import time
res2=[]
i=0
for off in tqdm(range(164990,192754,100)):
    time.sleep(2)
    base_url = 'https://kittysales.herokuapp.com/data?offset=%d&count=100&sortBy=timestamp&direction=desc' % (off)
    response = requests.get(base_url)
    results = response.json()
    res2.append(results)
    i+=1

100%|████████████████████████████████████████████████████████████████████████████████| 278/278 [20:24<00:00,  4.40s/it]

In [3]:
f = csv.writer(open("cat_price160_190k.csv", "w"))
# header
f.writerow(["cat_id", "soldPrice", "timeStamp"])

for i in range(111):
    for j in range(100):
        f.writerow([res2[i]['sales'][j]['returnValues']['0'],
              res2[i]['sales'][j]['soldPrice'],
              res2[i]['sales'][j]['blocktimeStamp']])

In [4]:
price_df = pd.read_csv('cat_price160k.csv')
price_df2 = pd.read_csv('cat_price160_190k.csv')

In [6]:
price_df2.shape

(10871, 3)

In [7]:
result = pd.concat([price_df,price_df2])

In [13]:
result.shape

(175759, 3)

In [14]:
clear_price=result.sort_values('timeStamp').drop_duplicates(subset='cat_id', keep='last')

In [19]:
clear_price.tail()

    cat_id   soldPrice   timeStamp
14  191067  561.880596  1513274985
9   275737    6.812125  1513274985
2   187352    5.765192  1513275014
1   102645    4.772378  1513275014
0   310050   56.130667  1513275041

In [21]:
import datetime
df=clear_price
df['dateSold'] = df['timeStamp'].apply(datetime.datetime.fromtimestamp)
df['date']=df['dateSold'].apply(lambda x : x.date())

In [22]:
df = df.sort_values('date')

In [23]:
df.tail()

      cat_id  soldPrice   timeStamp            dateSold        date
6147  254314   6.517503  1513219810 2017-12-14 05:50:10  2017-12-14
6146  261772   9.639342  1513219810 2017-12-14 05:50:10  2017-12-14
6145    5603  18.799174  1513219831 2017-12-14 05:50:31  2017-12-14
6152  291115  24.253560  1513219747 2017-12-14 05:49:07  2017-12-14
0     310050  56.130667  1513275041 2017-12-14 21:10:41  2017-12-14

In [17]:
result.to_csv('unclear_price190k.csv', index=False)

In [16]:
clear_price.to_csv('clear_price190k.csv', index=False)